@model List<SuqyaWaterSystem.Models.Customer>

<h2>الزبائن</h2>
<a href="/Customer/Create">➕ إضافة زبون</a>

<table>
    <thead>
        <tr>
            <th>الاسم</th>
            <th>الهاتف</th>
            <th>المنطقة</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.Name</td>
                <td>@customer.Phone</td>
                <td>@customer.Area?.Name</td>
            </tr>
        }
    </tbody>
</table>
